.icon {
  margin: auto auto 20px;
  &--social {
    display: inline-block;
    margin: 0;
  }
  &__promo-timer {
    @include sprite($promo-timer);
  }
  &__promo-cart {
    @include sprite($promo-cart);
  }
  &__promo-messages {
    @include sprite($promo-messages);
  }
  &__advantages-cup {
    @include sprite($advantages-cup);
  }
  &__advantages-heart {
    @include sprite($advantages-heart);
  }
  &__advantages-shoe {
    @include sprite($advantages-shoe);
  }
  &__map-facebook {
    @include sprite($map-facebook);
  }
  &__map-instagram {
    @include sprite($map-instagram);
  }
  &__map-pinterest {
    @include sprite($map-pinterest);
  }
}
