@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

$maxWidth: 1280;
@mixin font-adaptive($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin center-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-x() {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@mixin center-y() {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}
